@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;

  --color-dark-50: #f9fafb;
  --color-dark-100: #f3f4f6;
  --color-dark-200: #e5e7eb;
  --color-dark-300: #d1d5db;
  --color-dark-400: #9ca3af;
  --color-dark-500: #6b7280;
  --color-dark-600: #4b5563;
  --color-dark-700: #374151;
  --color-dark-800: #1f2937;
  --color-dark-900: #111827;

  --color-betano-primary: #FF3C00;
  --color-betano-secondary: #FF0279;
  --color-betano-green: #0ECF5E;
  --color-betano-orange: #EF4A0F;
  --color-betano-dark: #222536;
  --color-betano-surface: #1A202E;
  --color-betano-card: #2A3046;
  --color-betano-border: #303649;
  --color-betano-light: #3A4863;
  --color-betano-muted: #B3B3B3;
  --color-betano-text: #FFFFFF;

  --animate-border-spin: border-spin 7s linear infinite;

  --shadow-theme-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

:root{
  --color-betano-primary: #FF3C00;
  --color-betano-border: #E4E8F1;
  --color-betano-card: #ffffff;
  --color-betano-surface: #F8F9FD;

  --color-betano-muted: #566680;
  --color-betano-dark: #EFF2FB;
  --color-betano-text: #151922;
  --color-betano-light:#2A3046;  /* #D9E0F0 #C2CEE6*/
}

.dark{
  --color-betano-primary: #FF0279;
  --color-betano-border: #303649;
  --color-betano-card: #2A3046;
  --color-betano-dark: #222536;
  --color-betano-surface: #1A202E;
  --color-betano-muted: #B3B3B3;
  --color-betano-text: #FFFFFF;
  --color-betano-light: #3A4863;
}

@keyframes border-spin {
  100% {
    transform: rotate(-360deg);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
