@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;

  --color-dark-50: #f9fafb;
  --color-dark-100: #f3f4f6;
  --color-dark-200: #e5e7eb;
  --color-dark-300: #d1d5db;
  --color-dark-400: #9ca3af;
  --color-dark-500: #6b7280;
  --color-dark-600: #4b5563;
  --color-dark-700: #374151;
  --color-dark-800: #1f2937;
  --color-dark-900: #111827;

  --color-betano-primary: #ff3c00;
  --color-betano-secondary: #ff0279;
  --color-betano-green: #0ecf5e;
  --color-betano-orange: #ef4a0f;
  --color-betano-dark: #222536;
  --color-betano-surface: #1a202e;
  --color-betano-card: #2a3046;
  --color-betano-border: #303649;
  --color-betano-light: #3a4863;
  --color-betano-muted: #b3b3b3;
  --color-betano-text: #ffffff;

  --animate-border-spin: border-spin 7s linear infinite;

  --shadow-theme-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

:root {
  --color-betano-primary: #ff3c00;
  --color-betano-border: #e4e8f1;
  --color-betano-card: #ffffff;
  --color-betano-surface: #f8f9fd;

  --color-betano-muted: #566680;
  --color-betano-dark: #eff2fb;
  --color-betano-text: #151922;
  --color-betano-light: #2a3046; /* #D9E0F0 #C2CEE6*/
}

.dark {
  --color-betano-primary: #ff0279;
  --color-betano-border: #303649;
  --color-betano-card: #2a3046;
  --color-betano-dark: #222536;
  --color-betano-surface: #1a202e;
  --color-betano-muted: #b3b3b3;
  --color-betano-text: #ffffff;
  --color-betano-light: #3a4863;
}

@keyframes border-spin {
  100% {
    transform: rotate(-360deg);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
